@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'sara';
  src: url('./fonts/sans-sara.ttf') format('truetype');
  font-weight: 'normal';
  font-style: 'normal';
}

@layer components {
  .button {
    @apply border-solid border-[3px] border-redOrangeDark rounded-3xl bg-redOrangeDark shadow-xl text-white font-bold font-sara px-4 py-2;
  }
}

@layer components {
  .serviceCard {
    @apply w-4/5 min-h-full relative rounded-t-3xl shadow-xl bg-redOrangeLight4 text-center;
  }

  .serviceCardBottomBar {
    @apply absolute bottom-0 left-0 w-full h-[5px] bg-gradient-to-r from-redOrangeDark to-redOrangeLight2;
  }

  .reviewCard {
    @apply rounded-3xl bg-redOrangeLight4 shadow-xl border-solid border-[3px] border-redOrangeLight3 p-5 text-redOrangeDark opacity-0 blur-sm;
  }

  .reviewLeftCard {
    @apply transform -translate-x-10 transition-all duration-500;
  }

  .reviewRightCard {
    @apply transform translate-x-10 transition-all duration-500;
  }

  .visibleReviewCard {
    @apply opacity-100 translate-x-0 blur-0;
  }
}
